h1, h2, h3 { 
	/*color: #966FD6; */
	font-family: Impact, Charcoal, sans-serif;
}

a { color: #3923D6; }

body {
	background: #43cea2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	background-color: #77DD77;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#main-container {
	width: 100%;
	margin: auto;
}

.song-container {
	padding: 45px;
	width: 30%;
	float: left;
	background-color: #8EB4E6;
}

#spotify-player {
	float: right;
	width: 25%;
}

.vote-button {
	float: left;
	position: relative;
	left: 50%;
	background-color: #DD88FD;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#load-new-verses-button {
	float: left;
	position: relative;
	left: 50%;
	background-color: #FFFF84;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#header {
	padding: 25px;
}

#artist-pages { text-align: center; }
#artist-pages ul { list-style: none; }